.ba-hero {
  background-color: #adaeae;
  background-image: url(../IMG/holodnaya-biryuza-header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  text-align: center;
  height: 100vh; }
  .ba-hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: 500px;
    float: right; }
  .ba-hero__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.375rem;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: .01em; }
  .ba-hero__desc {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: .005em;
    text-align: left;
    color: #787878;
    padding-bottom: 30px; }
  .ba-hero__btn {
    width: 180px;
    display: inline-block;
    background-color: #39b4af;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: .75rem;
    font-weight: 500;
    letter-spacing: .01em;
    padding: 23px 35px;
    border: none;
    position: absolute;
    bottom: 180px; }
    .ba-hero__btn:hover {
      opacity: 0.5; }

.ba-aboutus-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 70px;
  max-width: 630px;
  padding-bottom: 100px; }

.ba-aboutus__title, .ba-video__title, .ba-contact__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 3.75rem;
  letter-spacing: .01em; }

.ba-aboutus__desc, .ba-video__desc, .ba-contact__desc {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: .005em;
  color: #787878;
  padding-bottom: 39px;
  text-align: center; }

.ba-aboutus-aboutus__img {
  margin: 0 auto; }

.ba-skills-wrapper {
  display: flex;
  max-width: 100%;
  padding: 0;
  height: 100vh; }

.ba-skills-prof {
  flex-basis: 50%;
  padding: 163px 6.25em; }

.ba-skills__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 5.25rem;
  letter-spacing: .01em; }

.ba-skills__design, .ba-skills__webdevelopment, .ba-skills__marketing {
  padding-top: 40px; }

.ba-skills__postdesc, .ba-development-title, .ba-slider__desc {
  font-family: 'Montserrat', sans-serif;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: .1em;
  text-transform: uppercase; }
  .ba-skills__postdesc span, .ba-development-title span, .ba-slider__desc span {
    padding-left: 20px; }

.ba-skills__procent {
  height: 5px;
  width: 500px;
  background-color: #d8d8d8; }
  .ba-skills__procent-blue1:after, .ba-skills__procent-blue2:after, .ba-skills__procent-blue3:after {
    content: '';
    display: block;
    position: absolute;
    height: 5px;
    width: 375px;
    background-color: #10c9c3; }
  .ba-skills__procent-blue2:after {
    width: 475px; }
  .ba-skills__procent-blue3:after {
    width: 325px; }

.ba-skills-img {
  flex-basis: 50%;
  background-image: url(../img/skill.jpg);
  background-size: cover; }

.ba-numbers {
  min-height: 250px;
  background-color: #10c9c3; }
  .ba-numbers-wrapper {
    padding-top: 90px;
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 1170px) {
      .ba-numbers-wrapper {
        flex-wrap: wrap;
        justify-content: space-around; } }
    @media screen and (max-width: 768px) {
      .ba-numbers-wrapper {
        padding-top: 50px; } }
  .ba-numbers__item {
    width: 230px;
    color: #fff;
    display: flex;
    align-items: center; }
    @media screen and (max-width: 1170px) {
      .ba-numbers__item {
        margin: 0 25px 50px; } }
    .ba-numbers__item span {
      margin-top: 12px; }
    .ba-numbers__item p {
      padding-top: 5px; }

.ba-item__img {
  margin-right: 20px; }
  .ba-item__img i {
    font-size: 50px;
    color: #fff; }

.ba-item-number, .ba-item-text {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: .75rem;
  font-weight: 400;
  line-height: .75rem;
  letter-spacing: .03em;
  text-transform: uppercase; }

.ba-works-wrapper {
  height: 680px;
  max-width: 100%;
  display: grid;
  grid-template: repeat(2, 50%)/repeat(4, 25%);
  padding: 0;
  margin: 0 auto; }
  @media screen and (max-width: 1000px) {
    .ba-works-wrapper {
      height: 1020px;
      grid-template: repeat(4, 25%)/repeat(3, 33.3%); } }
  @media screen and (max-width: 768px) {
    .ba-works-wrapper {
      height: 1700px;
      grid-template: repeat(6, 16.66%)/repeat(2, 50%); } }
  @media screen and (max-width: 540px) {
    .ba-works-wrapper {
      height: 900px; } }
  @media screen and (max-width: 360px) {
    .ba-works-wrapper {
      max-width: 100%;
      height: 2500px;
      grid-template: 100% / 100%; } }

.ba-works__item {
  background-position: center;
  background-size: cover;
  transition: .5s all ease; }
  .ba-works__item:nth-child(1) {
    background-image: url(../img/work12.jpg); }
  .ba-works__item:nth-child(2) {
    background-image: url(../img/work1.jpg); }
  .ba-works__item:nth-child(3) {
    background-image: url(../img/work2.jpg); }
  .ba-works__item:nth-child(4) {
    background-image: url(../img/work3.jpg); }
  .ba-works__item:nth-child(5) {
    background-image: url(../img/work4.jpg); }
  .ba-works__item:nth-child(6) {
    background-image: url(../img/work5.jpg); }
  .ba-works__item:nth-child(7) {
    background-image: url(../img/work6.jpg); }
  .ba-works__item:nth-child(8) {
    background-image: url(../img/work7.jpg); }
  .ba-works__item:nth-child(9) {
    background-image: url(../img/work8.jpg); }
  .ba-works__item:nth-child(10) {
    background-image: url(../img/work9.jpg); }
  .ba-works__item:nth-child(11) {
    background-image: url(../img/work10.jpg); }
  .ba-works__item:nth-child(12) {
    background-image: url(../img/work11.jpg); }

.ba-works__overlay {
  height: 100%;
  width: 100%;
  background-color: #fff;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center; }

.ba-works__eye {
  display: none;
  height: 70px; }

.ba-works__btn {
  width: 100%;
  display: flex;
  background-color: #f5f5f5;
  color: #8e8e8e;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: .75rem;
  font-weight: 500;
  letter-spacing: .01em;
  border: none;
  padding: 45px 0; }
  .ba-works__btn:hover {
    background-color: #39b4af;
    opacity: .5;
    color: #fff; }

.ba-works__item:hover .ba-works__overlay {
  background-color: #10c9c3;
  opacity: .75;
  cursor: pointer; }

.ba-works__item:hover .ba-works__eye {
  display: block; }

.ba-video-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 70px;
  padding-bottom: 100px; }

.ba-video__info {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding-bottom: 20px; }

.ba-video__desc {
  max-width: 630px;
  margin: 0 auto; }

.ba-video__frame {
  width: 100%; }

.ba-video iframe {
  width: 100%;
  height: 570px;
  border: none; }

.ba-development {
  min-height: 250px;
  background-color: #f5f5f5; }
  .ba-development-wrapper {
    padding-top: 90px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 4;
    justify-content: space-between;
    padding-bottom: 35px; }
    @media screen and (max-width: 1170px) {
      .ba-development-wrapper {
        flex-wrap: wrap;
        justify-content: space-around; } }
    @media screen and (max-width: 768px) {
      .ba-development-wrapper {
        padding-top: 50px; } }
  .ba-development-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; }
  .ba-development__item {
    width: 230px;
    color: #656565;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 63px; }
    @media screen and (max-width: 1170px) {
      .ba-development__item {
        margin: 0 25px 50px; } }
  .ba-development__img i {
    font-size: 50px;
    color: #656565; }
  .ba-development-title {
    color: #000;
    font-weight: 700;
    margin-bottom: 0; }
  .ba-development-text {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: .005em;
    color: #787878;
    margin: 0; }

.ba-slider {
  background-color: #10c9c3;
  margin: auto; }
  .ba-slider-wrapper {
    text-align: center;
    padding: 180px 0 220px; }
  .ba-slider__slide {
    width: 810px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #10c9c3; }
  .ba-slider__quote {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 3rem;
    letter-spacing: .01em;
    color: #fff; }
  .ba-slider__desc {
    color: #fff; }
  .ba-slider .slick-dots {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    top: 50px;
    color: #fff; }
  .ba-slider .slick-dots:hover li.slick-active button:before {
    opacity: .9;
    transform: scale(2);
    color: #fff; }
  .ba-slider .slick-dots li button::before {
    color: #fff;
    transform: scale(2); }
  .ba-slider .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #fff;
    transform: scale(2); }
  .ba-slider .slick-dotted.slick-slider {
    margin: 0; }
  .ba-slider .slick_list {
    height: 0; }
  .ba-slider .slick-next {
    top: 250px;
    right: 25px; }

.ba-logotyp {
  min-height: 250px;
  background-color: #fff;
  padding: 70px 0; }
  .ba-logotyp-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-between; }
    @media screen and (max-width: 1170px) {
      .ba-logotyp-wrapper {
        flex-wrap: wrap;
        justify-content: space-around; } }
    @media screen and (max-width: 768px) {
      .ba-logotyp-wrapper {
        padding-top: 50px; } }
  .ba-logotyp__item {
    padding: 30px; }
    @media screen and (max-width: 1170px) {
      .ba-logotyp__item {
        margin: 0 25px 50px; } }

.ba-contact {
  background-color: #f5f5f5; }
  .ba-contact-wrapper {
    display: flex;
    flex-direction: column;
    padding: 100px 0; }
  .ba-contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 40px; }
  .ba-contact__desc {
    width: 540px;
    margin: 0 auto; }
  .ba-contact-form__input:active, .ba-contact-form__input:focus {
    outline: none; }
  .ba-contact-form__control_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .ba-contact-form__input_firstname {
    margin-right: 8px; }
  .ba-contact-form__input_lastname {
    margin-left: 8px; }
  .ba-contact-form__submit {
    width: 100%;
    height: 50px;
    color: #fff;
    border: none;
    border-radius: 3px;
    background-color: #ea355a;
    box-shadow: 0px 3px 0px 0px #bd1962;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px; }
  .ba-contact-form__submit:hover, .ba-contact-form__submit:active {
    opacity: 0.8;
    outline: none; }
